.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar{
  padding-bottom: 4rem;
}

.Nav-logo {
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
  margin: 0;
  line-height: 1;
}

.Nav-logo a {
  color: rgb(255, 0, 0);
}

.User-action {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -10rem;
  flex-direction: column;
}

.Submit-button {
  margin-top: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.ui.vertical.menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 90vh;
}

.ui.vertical.menu .item {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 3rem;
}

.ui.buttons {
  margin-left: auto;
}

.middle.aligned.column img {
  margin-bottom: 10rem;
  width: 50%;
  height: 50%;
}
